# Replica settings
replicaCount: 1

# Container image
image:
  repository: pn02ci/authservice
  pullPolicy: IfNotPresent
  tag: dev-amd64

imagePullSecrets:
  - name: regcred
nameOverride: ""
fullnameOverride: ""

# ServiceAccount
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

# Pod metadata
podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}

# Service
service:
  type: ClusterIP
  port: 8080

# Ingress (disabled by default)
ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: auth.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

# App configuration
env:
  ASPNETCORE_ENVIRONMENT: "Development"
  Kestrel__Endpoints__Http__Url: "http://0.0.0.0:8080"
  Jwt__Issuer: "ev-platform"
  Jwt__Audience: "ev-clients"
  Jwt__SigningKey: "dev-signing-key-please-change"
  Jwt__TokenMinutes: "60"

connectionStrings:
  postgres: ""

# Probes
livenessProbe: null
readinessProbe: null

# Resources
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

# HPA
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
