replicaCount: 1

image:
  repository: reportingservice
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

env:
  ASPNETCORE_ENVIRONMENT: "Production"
  Kestrel__Endpoints__Http__Url: "http://0.0.0.0:8080"
  ConnectionStrings__Postgres: ""
  OpenTelemetry__Enabled: "true"
  OpenTelemetry__Exporter: "otlp"
  OpenTelemetry__Otlp__Endpoint: "http://otel-collector:4317"
  RabbitMq__Host: "rabbitmq"
  RabbitMq__Port: "5672"
  RabbitMq__Username: "guest"
  RabbitMq__Password: "guest"
  RabbitMq__Exchange: "ev.platform"
  RabbitMq__Queue: "reporting-service.events"

serviceAccount:
  create: true
  name: ""

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}
